.recipe-page__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--oc-prim-spacing-l);
  /* height: auto; */
}

.recipe-page__content__main {
  flex: 3;
}
.recipe-page__content__aside {
  flex: 1;
}

/** Mobile */
@media (max-width: 992px) {
  .recipe-page__content {
    flex-direction: column;
  }
}