.oc-header__container {
  position: relative;
  /* min-height: 49px; */
}

.oc-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.oc-header > * {
  padding: var(--oc-prim-spacing-m);
}

.oc-header__title__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.oc-header__title{
  width: 100%;
}