@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;700;900&display=swap");

.header {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-wrapper {
    display: grid;
    align-items: center;
    justify-content: center;
    transform: skew(0, -10deg);
}

.top-title {
    order: 1;
    text-align: center;
    display: block;
    color: #fff;
    font-size: clamp(0.5rem, 2vw, 0.75rem);
    margin-bottom: 0.5rem;
    padding-right: 1rem;
}

.bottom-title {
    order: 3;
    text-align: center;
    display: block;
    color: #fff;
    font-size: clamp(0.5rem, 2vw, 0.75rem);
    margin-top: 1rem;
    padding-left: 1rem;
}

.sweet-title {
    order: 2;
    color: #fde9ff;
    font-weight: 900;
    text-transform: uppercase;
    font-size: clamp(1.5rem, 5vw, 3rem);
    line-height: 0.75em;
    text-align: center;
    text-shadow: 1.5px 0.5px 0.5px #4af7ff, 1px 1px 0.5px #165bfb, 2px 1px 0.5px #4af7ff,
        1.5px 1.5px 0.5px #165bfb, 2.5px 1.5px 0.5px #4af7ff, 2px 2px 0.5px #165bfb,
        3px 2px 0.5px #4af7ff, 2.5px 2.5px 0.5px #165bfb, 3.5px 2.5px 0.5px #4af7ff,
        3px 3px 0.5px #165bfb, 4px 3px 0.5px #4af7ff, 3.5px 3.5px 0.5px #165bfb,
        4.5px 3.5px 0.5px #4af7ff;
}

.sweet-title span {
    display: block;
    position: relative;
}

.sweet-title span:before {
    content: attr(data-text);
    position: absolute;
    text-shadow: 1px 1px 0.5px #e94aa1, -0.5px -0.5px 0.5px #c736f9,
        -1px 1px 0.5px #e94aa1, 0.5px -0.5px 0.5px #f736f9;
    z-index: 1;
}

.sweet-title span:nth-child(1) {
    padding-right: 1.125rem;
}

.sweet-title span:nth-child(2) {
    padding-left: 1.125rem;
}