@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;700;900&display=swap");

.header {
    /* max-width: 1200px;
    margin: 0 auto; */
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-wrapper {
    display: grid;
    align-items: center;
    justify-content: center;
    transform: skew(0, -10deg);
}

.sweet-title {
    order: 2;
    color: hsl(35, 100%, 93%);
    font-weight: 900;
    text-transform: uppercase;
    font-size: clamp(3rem, 10vw, 6rem);
    line-height: 0.75em;
    text-align: center;
    text-shadow: 3px 1px 1px hsl(209, 100%, 72%), 2px 2px 1px hsl(228, 99%, 54%), 4px 2px 1px hsl(209, 100%, 72%),
        3px 3px 1px hsl(228, 99%, 54%), 5px 3px 1px hsl(209, 100%, 72%), 4px 4px 1px hsl(228, 99%, 54%),
        6px 4px 1px hsl(209, 100%, 72%), 5px 5px 1px hsl(228, 99%, 54%), 7px 5px 1px hsl(209, 100%, 72%),
        6px 6px 1px hsl(228, 99%, 54%), 8px 6px 1px hsl(209, 100%, 72%), 7px 7px 1px hsl(228, 99%, 54%),
        9px 7px 1px hsl(209, 100%, 72%);
}

.sweet-title span {
    display: block;
    position: relative;
}

.sweet-title span:before {
    content: attr(data-text);
    position: absolute;
    text-shadow: 2px 2px 1px hsl(15, 78%, 61%), -1px -1px 1px hsl(0, 94%, 69%),
        -2px 2px 1px hsl(15, 78%, 61%), 1px -1px 1px hsl(0, 94%, 69%);
    z-index: 1;
}

/* .sweet-title span:nth-child(1) {
    padding-right: 2.25rem;
}

.sweet-title span:nth-child(2) {
    padding-left: 2.25rem;
} */

/** Mobile */
@media (max-width: 992px) {
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .title-wrapper {
        display: grid;
        align-items: center;
        justify-content: center;
        transform: skew(0, -10deg);
    }

    .sweet-title {
        order: 2;
        color: hsl(35, 100%, 93%);
        font-weight: 900;
        text-transform: uppercase;
        font-size: clamp(1.5rem, 5vw, 3rem);
        line-height: 0.75em;
        text-align: center;
        text-shadow: 3px 1px 1px hsl(209, 100%, 72%), 2px 2px 1px hsl(228, 99%, 54%), 4px 2px 1px hsl(209, 100%, 72%),
            3px 3px 1px hsl(228, 99%, 54%), 5px 3px 1px hsl(209, 100%, 72%), 4px 4px 1px hsl(228, 99%, 54%),
            6px 4px 1px hsl(209, 100%, 72%), 5px 5px 1px hsl(228, 99%, 54%), 7px 5px 1px hsl(209, 100%, 72%),
            6px 6px 1px hsl(228, 99%, 54%), 8px 6px 1px hsl(209, 100%, 72%), 7px 7px 1px hsl(228, 99%, 54%),
            9px 7px 1px hsl(209, 100%, 72%);
    }

    .sweet-title span {
        display: block;
        position: relative;
    }

    .sweet-title span:before {
        content: attr(data-text);
        position: absolute;
        text-shadow: 2px 2px 1px hsl(15, 78%, 61%), -1px -1px 1px hsl(0, 94%, 69%),
            -2px 2px 1px hsl(15, 78%, 61%), 1px -1px 1px hsl(0, 94%, 69%);
        z-index: 1;
    }

    .sweet-title span:nth-child(1) {
        /* padding-right: 1.125rem; */
    }

    .sweet-title span:nth-child(2) {
        /* padding-left: 1.125rem; */
    }
}