.altBG {
  background-color: var(--oc-prim-color-blue-100);
}

/* .content h2::after {
  content: "";
    position: absolute;
    left: calc(100% + 22px);
    top: calc(50% - 1.5px);
    height: 3px;
    width: 100vw;
    background-color: var(--oc-prim-color-blue-100);
} */