.grid {
  display: grid;
  grid-column-gap: var(--oc-prim-spacing-l);
  grid-template-columns: repeat(4, 1fr);
}


.grid-template-columns-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-template-columns-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-column-gap-none {
  grid-column-gap: 0;
}

.grid-column-gap-s {
  grid-column-gap: var(--oc-prim-spacing-xs);
}

.grid-column-gap-m {
  grid-column-gap: var(--oc-prim-spacing-m);
}

.grid-column-gap-l {
  grid-column-gap: var(--oc-prim-spacing-l);
}

/** Mobile */
@media only screen and (max-width: 992px) {
  /* .group {
    column-gap: 0;
  } */
}
