.oc-block-image {
  /* position:static; */
  /* box-sizing: border-box;
  height: auto;
  max-width: 100%;
  object-fit: cover; */
  
  vertical-align: bottom;
  object-fit: cover;
  /* This keeps the aspect ratio and fills the container */
}