.ad-sticky {
  /**
  * Layout
  */
  position: sticky;
  width: 100%;

  /**
  * Visual
  */
  background: #fff;
  text-align: center;
  border-top: 3px solid #ddd;
}

.ad-sticky .ad-sticky__position--top,
.ad-sticky__position--bottom {
  height: 90px;
  line-height: 90px;
  left: 0;
  right: 0;
}

.ad-sticky__position--top {
  top: 0;
}

.ad-sticky__position--bottom {
  bottom: 0;
}