.main {
 display: block;
}
.main > section {
  padding: var(--oc-prim-spacing-xl) 0;
}

.home__new__recipes__card__container > * {
  min-width: var(--oc-dimensions-component-card-width-size-minimum);
}

.home__preview__card__image__container {
  overflow: hidden;
  max-width: calc(var(--oc-dimensions-component-card-width-size-minimum) * 1);
  max-height: calc(420px * 1.25);
}



.home__recipe_of_month__container {
  display: flex;
  flex-direction: row;
  height: 500px;
  background-color: var(--oc-sem-color-brand-yellow);
  border-radius: var(--oc-dimensions-prim-border-radius-size-md);
  overflow: hidden;
}

.home__recipe_of_month__container>* {
  flex: 1;
}

.home__recipe_of_month__text__container {
  text-align: center;
  padding: var(--oc-prim-spacing-xl)
}

.home__recipe_of_month__image__container {
  overflow: hidden;
}

.home__recipe_of_month__image__container img {
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  position: relative;
  left: 50%;
  top: 50%;
}

.home__favorite__recipes__card__container {
  display: flex;
  flex-direction: column;
  gap: var(--oc-prim-spacing-m);
}

.home__explore__recipes__card__container > * {
  min-width: var(--oc-dimensions-component-card-width-size-minimum);
  max-width: var(--oc-dimensions-component-card-width-size-minimum);
}

/* Mobile */
@media (max-width: 992px) {
  .home__preview__card__image__container {
    overflow: hidden;
    min-width: calc(var(--oc-dimensions-component-card-width-size-minimum) * 1);
    min-height: calc(420px * 1);
  }
}